In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [2]:
# Utility for displaying our DataFrames
from IPython.display import display_html
def display_side_by_side(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)

In [24]:
unclean = pd.read_csv('../match-data/uncleaned_intakes.csv')
clean = pd.DataFrame()

unclean.replace(['---'], '')

unclean['form.int.nation'] = unclean['form.int.nation'].replace(['1'], 'jordanian')
unclean['form.int.nation'] = unclean['form.int.nation'].replace(['2'], 'syrian')
unclean['form.int.nation'] = unclean['form.int.nation'].replace(['---'], '')

unclean['form.dem.male'] = unclean['form.dem.male'].replace(['0'], 'female')
unclean['form.dem.male'] = unclean['form.dem.male'].replace(['1'], 'male')

unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['1'], 'none')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['2'], 'primary')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['3'], 'secondary')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['4'], 'college')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['5'], 'diploma')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['6'], 'bachelors')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['7'], 'masters')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['7'], 'doctorate')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['---'], '')

unclean['form.int.nationality'] = unclean['form.int.nationality'].replace(['---'], '')
clean['nationalty'] = unclean['form.int.nationality'].map(str) + unclean['form.int.nation']

clean

    nationalty
0       syrian
1       syrian
2       syrian
3       syrian
4       syrian
5       syrian
6       syrian
7       syrian
8       syrian
9       syrian
10      syrian
11      syrian
12      syrian
13
14      syrian
15      syrian
16      syrian
17      syrian
18      syrian
19      syrian
20      syrian
21      syrian
22      syrian
23      syrian
24      syrian
25      syrian
26      syrian
27      syrian
28      syrian
29      syrian
..         ...
395     syrian
396     syrian
397     syrian
398     syrian
399     syrian
400     syrian
401     syrian
402     syrian
403     syrian
404     syrian
405     syrian
406     syrian
407     syrian
408     syrian
409     syrian
410     syrian
411     syrian
412
413     syrian
414     syrian
415     syrian
416     syrian
417     syrian
418     syrian
419  jordanian
420     syrian
421     syrian
422     syrian
423     syrian
424  jordanian

[425 rows x 1 columns]