# Clean Up our Intake Data

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [2]:
# Utility for displaying our DataFrames
from IPython.display import display_html
def display_side_by_side(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)

In [3]:
from datetime import date, datetime

def calculate_age(born):
    today = date.today()
    if born in ['---', '']:
        return ''
    born = datetime.strptime(born, '%Y-%m-%d')
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

np_age = np.vectorize(calculate_age)

In [4]:
def concat(col1, col2, debug=False):
    prohibited = ['', '---', 'nan']
    if col1 not in prohibited:
        return col1
    elif col2 not in prohibited:
        return col2
    else:
        return ''

np_concat = np.vectorize(concat)

In [5]:
def age_concat(col1, col2):
    prohibited = ['', '---', 'nan']
    col1 = 0 if col1 in prohibited else float(col1)
    col2 = 0 if col2 in prohibited else float(col2)
    col1 = 0 if np.isnan(col1) else col1
    col2 = 0 if np.isnan(col2) else col2
    return col1 if col1 != 0 else col2

np_age_concat = np.vectorize(age_concat)

In [6]:
def lat(col):
    try:
        return float(col.split(' ')[0])
    except:
        return 0
get_lat = np.vectorize(lat)

def lng(col):
    try:
        return float(col.split(' ')[1])
    except:
        return 0
get_lng = np.vectorize(lng)

### First let us read in our unclean export data

In [7]:
unclean = pd.read_csv('../match-data/manual-match/export.csv')
unclean.replace(['---'], '')

,number,formid,form.id.city,form.id.interview_date,form.int.has_job,form.int.has_other_income,form.int.months_unemployed,form.cd.first_name,form.cd.last_name,form.cd.mobile_num,...,form.jp.opposite_gender_coworkers,form.rw.expected_wage,form.ed.comp,form.ed.eng,form.we.jname,form.jp.oppgen,form.jp.oppgen1,form.rw.rwage,form.ed.highest_edu_level,form.int.nation
0,0,uuid:232d8d82-0c11-4aa2-8a76-b4a244f60ca6,3,,,,,,,,...,,,0,0,,1,1,220,,2
1,1,uuid:032b493f-e90e-42d8-ba55-66da02b70ec4,3,,,,,,,,...,,,0,0,شركة حسني جربوع للمقاولات,1,1,350,,2
2,2,uuid:04b3cb22-7f12-4d7b-ad89-25f65b0dcdbe,3,,,,,,,,...,,,0,0,,1,1,300,,2
3,3,uuid:326c85f5-ed1d-40fa-a370-17b43c2b0ea9,3,,,,,,,,...,,,0,0,,0,0,200,,2
4,4,uuid:bdc35371-ba9d-4d1d-a678-3a1744c32297,3,,,,,,,,...,,,0,1,,1,0,300,,2
5,5,uuid:74f432df-c4b6-4af3-94c2-48cdb0a68fa4,3,,,,,,,,...,,,0,0,,1,1,300,,2
6,6,uuid:644eb4c7-b08b-4511-ab94-f3a949fb3e2a,3,,,,,,,,...,,,0,0,,NaN,0,300,,2
7,7,uuid:129638e4-bce9-41b7-a933-779a595fc428,3,,,,,,,,...,,,1,0,,1,1,250,,2
8,8,uuid:c185457a-a199-4784-93db-d501d7282229,3,,,,,,,,...,,,2,1,,1,0,250,,2
9,9,uuid:d4f974d1-a152-413f-ba0f-d90817fd1429,3,,,,,,,,...,,,1,1,الانترسوس,1,1,350,,2
10,10,uuid:7bdfd9da-69bc-40dc-b636-af5d06f748d7,3,,,,,,,,...,,,2,1,محلات النجار الموقر,1,1,280,,2
11,11,uuid:5b8d79a8-1603-499d-b418-5a2373057473,3,,,,,,,,...,,,1,1,,1,1,220,,2
12,12,uuid:1895eaee-466d-4f91-8fdf-886572ae8c56,3,,,,,,,,...,,,1,1,,1,1,300,,2
13,13,uuid:3a607417-03ed-476e-b79e-b45bc2284226,3,,,,,,,,...,,,0,0,NaN,1,1,35,,
14,14,uuid:e6213ceb-f1cc-4892-a46c-e7b9bebbd950,3,,,,,,,,...,,,1,0,براد خاص,1,1,300,,2
15,15,uuid:2f295e2b-5f35-4386-9f82-a49588c1bb3a,3,,,,,,,,...,,,0,0,,1,1,200,,2
16,16,uuid:ed10d606-52fd-4212-ad35-953f1f758ebb,3,,,,,,,,...,,,1,2,UNDP,1,1,300,,2
17,17,uuid:f3e4e226-5962-48d6-be26-39ae8073a085,3,,,,,,,,...,,,1,1,,1,1,300,,2
18,18,uuid:a2bab9ed-2420-47dc-ad7a-6ca1d567b976,3,,,,,,,,...,,,1,0,المنظمه الايطاليه,1,1,280,,2
19,19,uuid:29c1c223-efa2-43e5-b4f8-20d30b3b6bc2,3,,,,,,,,...,,,0,0,,1,1,350,,2
20,20,uuid:fd5514ef-26b9-4cfa-b1aa-a4637ea9fdb5,3,,,,,,,,...,,,2,1,,1,1,300,,2
21,21,uuid:747f2451-483f-466c-b484-b04f771dd3d4,3,,,,,,,,...,,,2,1,مخابز للقناطر,1,1,250,,2
22,22,uuid:02ddf712-b7ff-45c9-a6c3-bf631217127c,3,,,,,,,,...,,,0,0,,1,1,200,,2
23,23,uuid:31c9fe6b-59d6-4ba8-a6e4-206cd3b0651c,3,,,,,,,,...,,,1,0,الفرنسيه جمعيه روابي الكوره,1,1,400,,2
24,24,uuid:6746b426-ee36-45d5-8c38-e0555a0c5732,3,,,,,,,,...,,,1,1,,1,1,250,,2
25,25,uuid:70ca3575-8537-449c-b64c-ec429c41b80a,3,,,,,,,,...,,,0,0,المنظمة الالمانيه,1,1,300,,2
26,26,uuid:0f71c390-edd4-4228-9a89-dd1feacf31a1,3,,,,,,,,...,,,1,2,بلديه درعا الكبرى,1,1,400,,2
27,27,uuid:5dbd6caf-5c20-4cfe-b5ce-9546cc892ec3,3,,,,,,,,...,,,1,1,,1,0,400,,2
28,28,uuid:7dcba8dc-aae3-4900-acd4-0b165cb5ccf9,3,,,,,,,,...,,,2,0,,1,1,400,,2
29,29,uuid:8789c68f-b81c-4589-9cbd-fbd978b3f4b2,3,,,,,,,,...,,,1,0,المقاول فايز البزازي,1,1,300,,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462,462,uuid:56717326-35ac-488c-8658-bf139bc3c585,3,,,,,,,,...,,,1,1,,1,1,300,,2
463,463,84f2445e-8548-4a89-b2c7-d168aa06b27f,irbid,2018-05-29,,,,مصطفى صالح,الحسين,0796381825,...,no_issue,400,,,,,,,secondary,
464,464,acbe72ac-34ed-4041-a03a-7e872945a083,irbid,2018-05-29,0,0,2,قاسم,الاحمد,0790700935,...,no_issue,300,,,,,,,secondary,
465,465,13d6f879-3e34-41d0-8452-3e72418c0ef8,irbid,2018-05-29,0,0,12,موسى,الاحمد,0798644175,...,no_issue,300,,,,,,,primary,
466,466,c085d188-c853-4b0a-acb8-0392145918a2,irbid,2018-06-04,0,0,24,نعمه,ابازيد,0796498714,...,no_issue,250,,,,,,,college,
467,467,6c7c08c9-1e5a-42df-ad18-01a2d92e4256,irbid,2018-06-04,0,0,12,ابتسام,ابازيد,0797945287,...,no_issue,300,,,,,,,primary,
468,468,6076eed8-93d8-4534-8819-23c30675a337,irbid,2018-06-16,0,0,2,محمود,الشبلي,0790662360,...,no_issue,300,,,,,,,primary,
469,469,2ebba93e-8c99-41e8-adb3-173c3e2ab41e,irbid,2018-06-10,0,0,0,اكتمال,المصري,0790694622,...,no_issue,250,,,,,,,primary,
470,470,b1e167c1-6f01-41c0-b8fd-17e26ab65eb8,irbid,2018-06-11,0,0,4,بهاء مازن,الرواشده,0798890919,...,no_issue,500,,,,,,,masters,
471,471,cd6eb1df-82dc-4f0c-9fc7-ccdc077a58a7,irbid,2018-06-06,0,0,3,نور الدين,الأحمد,0797526587,...,no_issue,250,,,,,,,secondary,
472,472,0a3af8a7-5a7c-458b-a22c-76e38f11e366,irbid,2018-06-03,0,0,12,فراس يوسف,الشحادات,0790348189,...,no_issue,300,,,,,,,college,
473,473,e5bacd7c-5cdd-40dc-b6c9-d018acf0e707,amman,2018-06-20,0,0,60,امينة صبري,مراد,0785331117,...,will_refuse,250,,,,,,,primary,
474,474,0353892b-6c83-4aed-8e90-f0b2574c589f,irbid,2018-06-24,0,0,24,امنه,طه,0777281597,...,no_issue,220,,,,,,,secondary,
475,475,6ef679b5-a354-4c5d-9857-2cd88b4ea8fa,irbid,2018-06-25,0,0,0,شروق ياسر,كيلاني,0779138250,...,no_issue,300,,,,,,,other,
476,476,a159afa7-51cc-4060-9264-799e226e67d8,irbid,2018-06-24,0,0,24,سهى عبدالله سليمان,سليمان,0786874004,...,no_issue,300,,,,,,,primary,
477,477,cd55b10e-e96f-4038-8d46-1375fb4ae1d5,irbid,2018-06-24,0,0,0,رهف محمد,درابسه,0797823565,...,no_issue,220,,,,,,,secondary,
478,478,b2d5ee18-4d34-492a-86a3-3fa02e534e88,irbid,2018-06-20,0,0,12,رندا,سلامات,0798435866,...,will_refuse,250,,,,,,,primary,
479,479,8b3940db-93a7-4440-9d91-b97d37776c80,irbid,2018-06-21,0,0,23,نعيمه,السخني,0772273724,...,no_issue,220,,,,,,,secondary,
480,480,61802b6e-e97f-4c72-845b-2ee1c724ef8b,amman,2018-06-21,0,0,4,عطاالله نايف,الختاتنه,0786535306,...,no_issue,500,,,,,,,secondary,
481,481,4b0bfb2c-0cd8-4681-99e2-2d4b3bc41be5,irbid,2018-06-21,1,1,,نهايه احمد فياض,ابو الرب,0796427990,...,no_issue,300,,,,,,,secondary,
482,482,0e1f0399-8263-483b-8007-fbb73ffaeec1,irbid,2018-06-26,0,0,5,سهى تركي,الشحادات,0798689941,...,no_issue,250,,,,,,,primary,
483,483,795ef5dc-8693-4516-b7bf-1fcd241dfff2,irbid,2018-06-25,0,0,55,برديس,سليمان,0781343180,...,no_issue,220,,,,,,,secondary,
484,484,69577ce7-0fbe-4d36-b340-ec16a942b5af,amman,2018-06-25,0,0,1,كفا,سعد مصطفى العقيلات,0777586995,...,no_issue,200,,,,,,,secondary,
485,485,46bfdf55-8a82-4cf1-ab57-7909e7187bf8,irbid,2018-06-26,0,0,12,رسمية حمدي,حريري,0781030770,...,no_issue,250,,,,,,,secondary,
486,486,f14e78de-ff13-4f0d-97b1-7146e402929f,irbid,2018-06-25,0,0,0,فاتن زياد,الخطيب,0779721718,...,no_issue,250,,,,,,,secondary,
487,487,a71e6714-ae5d-498e-964d-aa1d41a71df9,irbid,2018-06-25,1,0,,ميسون محمود,حريري,0790373565,...,no_issue,400,,,,,,,secondary,
488,488,9c4a68a1-c638-4fb1-a5ae-04a1ffe8f333,irbid,2018-06-26,0,0,18,بيان,فيصل هلال,0796485161,...,no_issue,200,,,,,,,bachelors,
489,489,98d24526-a009-4bf2-a8c4-af9dfd4dbb9d,irbid,2018-06-27,0,0,3,سليمه,الخيرات,0790863001,...,no_issue,250,,,,,,,none,
490,490,33835183-38a5-49bf-8c1a-c0926813673c,amman,2018-06-27,0,0,4,حسن عبد الحليم,قرواني,0790230774,...,no_issue,300,,,,,,,primary,
491,491,2e5f3563-cd95-40f8-aee0-1fcfc444acab,irbid,2018-06-28,0,0,1,عثمان سلطان,الجراح,0777084152,...,no_issue,250,,,,,,,secondary,

### Now we will merge, reformat columns and create a new "clean" data frame

In [8]:
clean = pd.DataFrame()

# Clean Nationality
unclean['form.int.nation'] = unclean['form.int.nation'].replace(['1'],
                                                                'jordanian')
unclean['form.int.nation'] = unclean['form.int.nation'].replace(['2'],
                                                                'syrian')
unclean['form.int.nation'] = unclean['form.int.nation'].replace(['---'], '')

unclean['form.int.nationality'] = unclean['form.int.nationality'].replace(
    ['---'], '')
unclean['nationalty'] = unclean['form.int.nationality'].map(
    str) + unclean['form.int.nation']
clean['nationality'] = unclean['nationalty'].replace([''], 'unknown')

# Clean Gender
unclean['form.dem.male'] = unclean['form.dem.male'].replace(['0'], 'female')
unclean['form.dem.male'] = unclean['form.dem.male'].replace(['1'], 'male')
unclean['form.dem.male'] = unclean['form.dem.male'].replace(['---'], '')
unclean['form.dem.gender'] = unclean['form.dem.gender'].replace(['---'], '')
clean[
    'gender'] = unclean['form.dem.gender'].map(str) + unclean['form.dem.male']

# Clean Education Level
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['1'], 'none')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['2'], 'primary')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['3'], 'secondary')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['4'], 'college')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['5'], 'diploma')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['6'], 'bachelors')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['7'], 'masters')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['7'], 'doctorate')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['---'], '')
unclean['form.ed.highest_edu_level'] = unclean[
    'form.ed.highest_edu_level'].replace(['---'], '')
unclean['edu'] = unclean['form.ed.edu1'].map(
    str) + unclean['form.ed.highest_edu_level']
clean['education'] = unclean['edu'].replace([''], 'unknown')

# Clean Age
unclean['form.dem.age'] = unclean['form.dem.age'].replace(['---'], '')
unclean['form.dem.age_calc'] = unclean['form.dem.age_calc'].replace(['---'],
                                                                    '')
unclean['dob_age'] = np_age(unclean['form.dem.dob'])

unclean['age_concat'] = np_age_concat(unclean['form.dem.age'],
                                      unclean['form.dem.age_calc'])
clean['age'] = np_age_concat(unclean['age_concat'], unclean['dob_age'])

# Clean Night Shfit
unclean['form.jp.night'] = unclean['form.jp.night'].replace(['---'], '')
unclean['form.jp.will_work_night_shift'] = unclean[
    'form.jp.will_work_night_shift'].replace(['---'], '')
clean['night-shift'] = np_concat(unclean['form.jp.night'],
                                 unclean['form.jp.will_work_night_shift'])

#clean['lat'] = get_lat(unclean['form.id.gps'])
#clean['lng'] = get_lng(unclean['form.id.gps'])

unclean['form.cd.first_name'] = unclean['form.cd.first_name'].replace(['---'],
                                                                      '')
unclean['form.cd.fname'] = unclean['form.cd.fname'].replace(['---'], '')
unclean['form.cd.last_name'] = unclean['form.cd.last_name'].replace(['---'],
                                                                    '')
unclean['form.cd.lname'] = unclean['form.cd.lname'].replace(['---'], '')

# clean['first-name'] = np_concat(unclean['form.cd.first_name'],
#                                 unclean['form.cd.fname'])
# clean['last-name'] = np_concat(unclean['form.cd.last_name'],
#                                unclean['form.cd.lname'])

# Job
unclean['form.int.has_job'] = unclean['form.int.has_job'].replace(['---'], '')
unclean['form.int.job'] = unclean['form.int.job'].replace(['---'], '')
clean['has_job'] = np_concat(unclean['form.int.has_job'], unclean['form.int.job'])

unclean['form.int.has_other_income'] = unclean[
    'form.int.has_other_income'].replace(['---'], '')
unclean['form.int.entrep'] = unclean['form.int.entrep'].replace(['---'], '')
clean['has_other_income'] = np_concat(unclean['form.int.has_other_income'], unclean['form.int.entrep'])

unclean['form.cd.mobile_num'] = unclean['form.cd.mobile_num'].replace(['---'],'')
unclean['form.cd.mob'] = unclean['form.cd.mob'].replace(['---'], '')
# clean['mobile_number'] = np_concat(unclean['form.cd.mobile_num'], unclean['form.cd.mob'])

unclean['form.dem.marital_status'] = unclean[
    'form.dem.marital_status'].replace(['---'], '')
unclean['form.dem.marr'] = unclean['form.dem.marr'].replace(['---'], '')

unclean['form.dem.marr'] = unclean['form.dem.marr'].replace(['1'], 'married')
unclean['form.dem.marr'] = unclean['form.dem.marr'].replace(['2'], 'single')
unclean['form.dem.marr'] = unclean['form.dem.marr'].replace(['3'], 'divoriced')
unclean['form.dem.marr'] = unclean['form.dem.marr'].replace(['4'], 'widowed')
clean['marital_status'] = np_concat(unclean['form.dem.marital_status'], unclean['form.dem.marr'])

unclean['form.dem.num_children'] = unclean['form.dem.num_children'].replace(
    ['---'], '')
unclean['form.dem.child'] = unclean['form.dem.child'].replace(['---'], '')
clean['num_children'] = np_concat(unclean['form.dem.num_children'], unclean['form.dem.child'])

unclean['form.tn.num_training_courses'] = unclean[
    'form.tn.num_training_courses'].replace(['---'], '')
unclean['form.tn.tn3'] = unclean['form.tn.tn3'].replace(['---'], '')
clean['num_training_courses'] = np_concat(unclean['form.tn.num_training_courses'],
                                          unclean['form.tn.tn3'])

unclean['form.jp.will_live_in_dorm'] = unclean[
    'form.jp.will_live_in_dorm'].replace(['---'], '')
unclean['form.jp.dorm'] = unclean['form.jp.dorm'].replace(['---'], '')
clean['will_live_in_dorm'] = np_concat(unclean['form.jp.will_live_in_dorm'],
                                       unclean['form.jp.dorm'])

unclean['form.jp.weekly_days_willing_to_work'] = unclean[
    'form.jp.weekly_days_willing_to_work'].replace(['---'], '')
unclean['form.jp.days'] = unclean['form.jp.days'].replace(['---'], '')
clean['weekly_days_willing_to_work'] = np_concat(unclean['form.jp.weekly_days_willing_to_work'],
                                                 unclean['form.jp.days'])

unclean['form.jp.daily_hours_willing_to_work'] = unclean[
    'form.jp.daily_hours_willing_to_work'].replace(['---'], '')
unclean['form.jp.hours'] = unclean['form.jp.hours'].replace(['---'], '')
clean['daily_hours_willing_to_work'] = np_concat(unclean['form.jp.daily_hours_willing_to_work'],
                                                 unclean['form.jp.hours'])

unclean['form.cj.workspace_preference_calc'] = unclean[
    'form.cj.workspace_preference_calc'].replace(['---'], '')
unclean['form.cj.cjsect'] = unclean['form.cj.cjsect'].replace(['---'], '')

unclean['form.cj.cjsect'] = unclean['form.cj.cjsect'].replace(['1'], 'office')
unclean['form.cj.cjsect'] = unclean['form.cj.cjsect'].replace(['2'], 'home')
unclean['form.cj.cjsect'] = unclean['form.cj.cjsect'].replace(['3'], 'souk')
unclean['form.cj.cjsect'] = unclean['form.cj.cjsect'].replace(['4'], 'farm')
unclean['form.cj.cjsect'] = unclean['form.cj.cjsect'].replace(['5'], 'factory')
unclean['form.cj.cjsect'] = unclean['form.cj.cjsect'].replace(['6'], 'mine')
unclean['form.cj.cjsect'] = unclean['form.cj.cjsect'].replace(['7'], 'construction_site')
unclean['form.cj.cjsect'] = unclean['form.cj.cjsect'].replace(['8'], 'garage')
unclean['form.cj.cjsect'] = unclean['form.cj.cjsect'].replace(['9'], 'transport')
unclean['form.cj.cjsect'] = unclean['form.cj.cjsect'].replace(['10'], 'religious_building')
unclean['form.cj.cjsect'] = unclean['form.cj.cjsect'].replace(['11'], 'hospital')
unclean['form.cj.cjsect'] = unclean['form.cj.cjsect'].replace(['12'], 'school')
unclean['form.cj.cjsect'] = unclean['form.cj.cjsect'].replace(['13'], 'hotel')
unclean['form.cj.cjsect'] = unclean['form.cj.cjsect'].replace(['14'], 'restaraunt')

clean['workspace_preference'] = np_concat(unclean['form.cj.workspace_preference_calc'],
                                          unclean['form.cj.cjsect'])

unclean['form.we.years_exp'] = unclean['form.we.years_exp'].replace(['---'],
                                                                    '')
unclean['form.we.yexp'] = unclean['form.we.yexp'].replace(['---'], '')
clean['years_experience'] = np_concat(unclean['form.we.years_exp'], unclean['form.we.yexp'])

unclean['form.ex.comments'] = unclean['form.ex.comments'].replace(['---'], '')
unclean['form.com2'] = unclean['form.com2'].replace(['---'], '')
clean['comments1'] = unclean['form.ex.comments']
clean['comments2'] = unclean['form.com2']

unclean['form.ed.comp'] = unclean['form.ed.comp'].replace(['---'], '')

unclean['form.ed.comp'] = unclean['form.ed.comp'].replace(['0'], 'none')
unclean['form.ed.comp'] = unclean['form.ed.comp'].replace(['1'], 'basic')
unclean['form.ed.comp'] = unclean['form.ed.comp'].replace(['2'], 'word_processing')
unclean['form.ed.comp'] = unclean['form.ed.comp'].replace(['3'], 'specialized')
unclean['form.ed.comp'] = unclean['form.ed.comp'].replace(['4'], 'programmer')

unclean['form.ed.computer_exprience'] = unclean[
    'form.ed.computer_exprience'].replace(['---'], '')
clean['computer_experience'] = np_concat(unclean['form.ed.comp'], 
                                           unclean['form.ed.computer_exprience'])

unclean['form.ed.eng'] = unclean['form.ed.eng'].replace(['---'], '')

unclean['form.ed.eng'] = unclean['form.ed.eng'].replace(['0'], 'not_literate')
unclean['form.ed.eng'] = unclean['form.ed.eng'].replace(['1'], 'few_phrases')
unclean['form.ed.eng'] = unclean['form.ed.eng'].replace(['2'], 'simple_phrases')
unclean['form.ed.eng'] = unclean['form.ed.eng'].replace(['3'], 'extended_conversation')
unclean['form.ed.eng'] = unclean['form.ed.eng'].replace(['4'], 'literate')

unclean['form.ed.english_proficiency'] = unclean[
    'form.ed.english_proficiency'].replace(['---'], '')
clean['english_proficiency'] = np_concat(unclean['form.ed.eng'],
                                         unclean['form.ed.english_proficiency'])

unclean['form.jp.opposite_gender_manager'] = unclean[
    'form.jp.opposite_gender_manager'].replace(['---'], '')
unclean['form.jp.oppgen'] = unclean['form.jp.oppgen'].replace(['---'], '')

unclean['form.jp.oppgen'] = unclean['form.jp.oppgen'].replace(['0'], 'will_refuse')
unclean['form.jp.oppgen'] = unclean['form.jp.oppgen'].replace(['1'], 'no_issue')

clean['opposite_gender_manager'] = np_concat(unclean['form.jp.opposite_gender_manager'],
                                             unclean['form.jp.oppgen'])

unclean['form.jp.opposite_gender_coworkers'] = unclean[
    'form.jp.opposite_gender_coworkers'].replace(['---'], '')
unclean['form.jp.oppgen1'] = unclean['form.jp.oppgen1'].replace(['---'], '')
unclean['form.jp.oppgen1'] = unclean['form.jp.oppgen1'].replace(['0'], 'will_refuse')
unclean['form.jp.oppgen1'] = unclean['form.jp.oppgen1'].replace(['1'], 'no_issue')
clean['opposite_gender_coworkers'] = np_concat(unclean['form.jp.opposite_gender_coworkers'],
                                             unclean['form.jp.oppgen1'])

unclean['form.rw.expected_wage'] = unclean['form.rw.expected_wage'].replace(
    ['---'], '')
unclean['form.rw.rwage'] = unclean['form.rw.rwage'].replace(['---'], '')
clean['expected_wage'] = np_concat(unclean['form.rw.expected_wage'], unclean['form.rw.rwage'])

clean

,nationality,gender,education,age,night-shift,has_job,has_other_income,marital_status,num_children,num_training_courses,...,daily_hours_willing_to_work,workspace_preference,years_experience,comments1,comments2,computer_experience,english_proficiency,opposite_gender_manager,opposite_gender_coworkers,expected_wage
0,syrian,female,secondary,48.0,0,0,0,married,0,,...,8,,,NaN,,none,not_literate,no_issue,no_issue,220
1,syrian,male,secondary,0.0,1,0,0,married,0,,...,8,,1,NaN,,none,not_literate,no_issue,no_issue,350
2,syrian,male,primary,44.0,1,0,0,married,7,,...,8,,,NaN,,none,not_literate,no_issue,no_issue,300
3,syrian,female,secondary,28.0,0,0,0,married,3,,...,6,,,NaN,,none,not_literate,will_refuse,will_refuse,200
4,syrian,female,diploma,40.0,0,0,0,married,6,3,...,5,,,NaN,,none,few_phrases,no_issue,will_refuse,300
5,syrian,female,primary,0.0,0,0,0,married,3,,...,8,,,NaN,,none,not_literate,no_issue,no_issue,300
6,syrian,female,none,53.0,0,0,0,married,nan,,...,4,,,NaN,,none,not_literate,nan,will_refuse,300
7,syrian,female,secondary,20.0,0,0,0,single,0,1,...,8,,,لايوجد,,basic,not_literate,no_issue,no_issue,250
8,syrian,female,secondary,19.0,0,0,0,single,0,1,...,5,,,NaN,,word_processing,few_phrases,no_issue,will_refuse,250
9,syrian,female,bachelors,25.0,0,0,0,single,0,4,...,6,,3,NaN,,basic,few_phrases,no_issue,no_issue,350
10,syrian,male,secondary,45.0,1,0,0,married,6,,...,10,,4,NaN,,word_processing,few_phrases,no_issue,no_issue,280
11,syrian,female,secondary,18.0,0,0,0,single,0,,...,nan,,,NaN,,basic,few_phrases,no_issue,no_issue,220
12,syrian,female,secondary,44.0,0,0,0,married,2,,...,8,,,NaN,,basic,few_phrases,no_issue,no_issue,300
13,unknown,male,primary,0.0,0,,,married,0,,...,10,,2,NaN,,none,not_literate,no_issue,no_issue,35
14,syrian,male,primary,0.0,1,1,1,married,nan,,...,6,,20,NaN,,basic,not_literate,no_issue,no_issue,300
15,syrian,female,primary,27.0,1,0,0,married,3,,...,12,,,NaN,,none,not_literate,no_issue,no_issue,200
16,syrian,female,secondary,43.0,0,0,0,married,3,4,...,7,,1,لايوجد,,basic,simple_phrases,no_issue,no_issue,300
17,syrian,female,primary,38.0,0,0,0,married,4,,...,7,,,0,,basic,few_phrases,no_issue,no_issue,300
18,syrian,female,secondary,42.0,1,0,0,married,5,,...,8,,1,NaN,,basic,not_literate,no_issue,no_issue,280
19,syrian,male,primary,33.0,1,0,0,married,4,,...,10,,,NaN,,none,not_literate,no_issue,no_issue,350
20,syrian,female,secondary,34.0,0,0,0,married,3,1,...,7,,,NaN,NaN,word_processing,few_phrases,no_issue,no_issue,300
21,syrian,male,bachelors,24.0,1,0,0,single,0,,...,9,,8,NaN,NaN,word_processing,few_phrases,no_issue,no_issue,250
22,syrian,female,secondary,45.0,0,0,0,single,0,,...,8,,,NaN,,none,not_literate,no_issue,no_issue,200
23,syrian,male,secondary,27.0,1,1,0,married,2,6,...,8,,1,ان يكون العمل ضمن الخبره,,basic,not_literate,no_issue,no_issue,400
24,syrian,female,diploma,44.0,0,0,0,married,5,2,...,7,,,NaN,,basic,few_phrases,no_issue,no_issue,250
25,syrian,male,primary,41.0,1,0,0,married,nan,,...,8,,1,0,,none,not_literate,no_issue,no_issue,300
26,syrian,female,diploma,36.0,0,0,0,married,2,1,...,8,,3,لايوجد,بصمه العين سوف تنقطع بعد شهر بحاجه لعمل وتحمل ...,basic,simple_phrases,no_issue,no_issue,400
27,syrian,female,primary,26.0,0,0,0,married,4,,...,3,,,NaN,NaN,basic,few_phrases,no_issue,will_refuse,400
28,syrian,male,secondary,22.0,1,0,0,single,0,,...,10,,,NaN,NaN,word_processing,not_literate,no_issue,no_issue,400
29,syrian,male,bachelors,59.0,1,0,0,married,4,,...,8,,23,NaN,NaN,basic,not_literate,no_issue,no_issue,300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462,syrian,female,secondary,35.0,0,0,0,married,5,,...,8,,,NaN,,basic,few_phrases,no_issue,no_issue,300
463,unknown,male,secondary,24.0,0,,,married,0,2,...,nan,,2,لايوجد,NaN,word_processing,not_literate,no_issue,no_issue,400
464,syrian,male,secondary,47.0,1,0,0,married,3,,...,8,,,NaN,لا يوجد معيل للعائله وغير قادر على الشغل لمدة ...,none,not_literate,no_issue,no_issue,300
465,syrian,male,primary,48.0,0,0,0,married,7,,...,8,,,NaN,NaN,none,not_literate,no_issue,no_issue,300
466,syrian,female,college,22.0,1,0,0,single,0,,...,8,,,NaN,NaN,none,not_literate,no_issue,no_issue,250
467,syrian,female,primary,50.0,1,0,0,married,2,,...,8,,,NaN,NaN,none,not_literate,no_issue,no_issue,300
468,syrian,male,primary,46.0,1,0,0,married,9,,...,8,,,NaN,NaN,none,not_literate,no_issue,no_issue,300
469,syrian,female,primary,40.0,0,0,0,married,6,,...,6,,,NaN,NaN,basic,not_literate,no_issue,no_issue,250
470,jordanian,male,masters,27.0,1,0,0,single,0,2,...,10,,8,0,تخصص علوم جنائيه وماجستير علوم جنائيه وسموم عن...,word_processing,simple_phrases,no_issue,no_issue,500
471,syrian,male,secondary,18.0,1,0,0,single,0,,...,6,,1,NaN,بتاريخ 7/7/2018 بطبق 17 وبدخل ب18 بحاجه ماسه ل...,none,not_literate,no_issue,no_issue,250
472,syrian,male,college,28.0,0,0,0,single,0,1,...,8,,1,لا يوجد,لايعمل مدينة الحسن,basic,simple_phrases,no_issue,no_issue,300
473,syrian,female,primary,33.0,0,0,0,married,3,,...,6,,,NaN,NaN,none,not_literate,no_issue,will_refuse,250
474,jordanian,female,secondary,41.0,0,0,0,married,5,,...,8,,5,NaN,NaN,basic,not_literate,no_issue,no_issue,220
475,jordanian,female,other,22.0,0,0,0,married,2,,...,8,,,لايوجد,تريد العمل بمدينه الحسن خياطه,basic,not_literate,no_issue,no_issue,300
476,jordanian,female,primary,34.0,0,0,0,single,0,1,...,8,,3,لايوجد,لاتستطيع العمل في مدينةالحسن,none,not_literate,no_issue,no_issue,300
477,jordanian,female,secondary,18.0,0,0,0,single,0,10,...,8,,,0,ليس لديها مانع للعمل في المصانع او اي عمل,basic,few_phrases,no_issue,no_issue,220
478,syrian,female,primary,34.0,0,0,0,married,6,1,...,2,,2,NaN,لاتريد العمل الابلمنزل,basic,not_literate,no_issue,will_refuse,250
479,jordanian,female,secondary,34.0,0,0,0,married,4,,...,8,,2,NaN,مهتم جدا بلعمل,basic,not_literate,no_issue,no_issue,220
480,jordanian,male,secondary,34.0,1,0,0,married,3,,...,8,,14,NaN,NaN,word_processing,few_phrases,no_issue,no_issue,500
481,jordanian,female,secondary,41.0,0,1,1,married,4,,...,8,office,22,لايوجد,NaN,none,not_literate,no_issue,no_issue,300
482,syrian,female,primary,37.0,0,0,0,married,5,,...,8,,1,لايوجد,تعمل عاملة تشطيب,none,not_literate,no_issue,no_issue,250
483,jordanian,female,secondary,21.0,0,0,0,single,0,1,...,8,,,NaN,NaN,basic,not_literate,no_issue,no_issue,220
484,jordanian,female,secondary,36.0,0,0,0,single,0,1,...,8,,1,لا يوجد,NaN,none,not_literate,no_issue,no_issue,200
485,syrian,female,secondary,29.0,0,0,0,married,2,,...,8,,1,لايوجد,لديها ابنة تعاني من البلوغ المبكر,basic,not_literate,no_issue,no_issue,250
486,jordanian,female,secondary,40.0,0,0,0,married,4,,...,8,,,0,لا مانع لديها من العمل في المصانع,none,not_literate,no_issue,no_issue,250
487,syrian,female,secondary,54.0,0,1,0,divorced,nan,5,...,4,nan,30,0,مدربة خياطه,basic,few_phrases,no_issue,no_issue,400
488,syrian,female,bachelors,26.0,0,0,0,married,1,1,...,6,,5,لا يوجد,NaN,word_processing,few_phrases,no_issue,no_issue,200
489,syrian,female,none,51.0,1,0,0,single,0,,...,8,,,NaN,NaN,none,not_literate,no_issue,no_issue,250
490,syrian,male,primary,23.0,0,0,0,married,0,,...,8,,8,NaN,NaN,none,not_literate,no_issue,no_issue,300
491,jordanian,male,secondary,41.0,1,0,0,married,2,,...,8,,4,اتمنى ان تكون مصداقية,بحاجة عمل ولامانع ان يعمل بمدينة الحسن,none,few_phrases,no_issue,no_issue,250

### Lastly, lets save our cleaned data out as a csv

In [9]:
clean.to_csv('../match-data/manual_clean.csv')