# Clean Up our Intake Data

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt

from util import (
    np_age, np_concat, np_age_concat, get_lat, get_lng, 
    update_profession)

In [2]:
# Utility for displaying our DataFrames
from IPython.display import display_html
def display_side_by_side(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)

### First let us read in our unclean export data

In [3]:
unclean = pd.read_csv('../match-data/kpis/export.csv')
unclean.replace([''], '---')
unclean.replace(['---'], '')

unclean

,number,formid,form.id.city,form.id.interview_date,form.int.has_job,form.int.has_other_income,form.int.months_unemployed,form.cd.mobile_num,form.dem.gender,form.dem.dob,...,form.int.nation,form.id.gps,form.sy.has_work_permit,form.sy.work_permit_status,form.sy.permit_barriers,form.sy.wp1,form.sy.wp3,form.sy.wp2,form.int.unemp,form.jp.dist
0,0,uuid:232d8d82-0c11-4aa2-8a76-b4a244f60ca6,3,---,---,---,---,---,---,---,...,2,32.56341362 35.82743754 527.0 13.65,---,---,---,---,---,NaN,0,NaN
1,1,uuid:032b493f-e90e-42d8-ba55-66da02b70ec4,3,---,---,---,---,---,---,---,...,2,32.56381511 35.82414651 538.0 106.18,---,---,---,NaN,---,---,12,NaN
2,2,uuid:04b3cb22-7f12-4d7b-ad89-25f65b0dcdbe,3,---,---,---,---,---,---,---,...,2,32.57277106 35.80145862 587.0 25.78,---,---,---,---,---,7,24,30
3,3,uuid:326c85f5-ed1d-40fa-a370-17b43c2b0ea9,3,---,---,---,---,---,---,---,...,2,32.57245561 35.80178963 512.0 13.65,---,---,---,---,---,7,12,30
4,4,uuid:bdc35371-ba9d-4d1d-a678-3a1744c32297,3,---,---,---,---,---,---,---,...,2,32.53877962 35.84859773 637.0 16.68,---,---,---,---,---,7,36,20
5,5,uuid:74f432df-c4b6-4af3-94c2-48cdb0a68fa4,3,---,---,---,---,---,---,---,...,2,32.55391673 35.80441486 569.0 25.78,---,---,---,---,---,7,24,15
6,6,uuid:644eb4c7-b08b-4511-ab94-f3a949fb3e2a,3,---,---,---,---,---,---,---,...,2,NaN,---,---,---,---,---,7,NaN,25
7,7,uuid:129638e4-bce9-41b7-a933-779a595fc428,3,---,---,---,---,---,---,---,...,2,32.5053713 35.8638544 0.0 20.0,---,---,---,---,---,7,NaN,30
8,8,uuid:c185457a-a199-4784-93db-d501d7282229,3,---,---,---,---,---,---,---,...,2,32.53869682 35.84859372 627.0 4.55,---,---,---,---,---,7,36,5
9,9,uuid:d4f974d1-a152-413f-ba0f-d90817fd1429,3,---,---,---,---,---,---,---,...,2,32.5065657 35.8884198 0.0 20.0,---,---,---,---,---,7,4,30
10,10,uuid:7bdfd9da-69bc-40dc-b636-af5d06f748d7,3,---,---,---,---,---,---,---,...,2,32.54181986 35.84972841 637.0 12.13,---,---,---,---,---,3,3,30
11,11,uuid:5b8d79a8-1603-499d-b418-5a2373057473,3,---,---,---,---,---,---,---,...,2,32.53754535 35.84853229 624.0 18.2,---,---,---,---,---,7,12,30
12,12,uuid:1895eaee-466d-4f91-8fdf-886572ae8c56,3,---,---,---,---,---,---,---,...,2,32.5511176 35.8545241 0.0 20.0,---,---,---,---,---,NaN,0,NaN
13,13,uuid:3a607417-03ed-476e-b79e-b45bc2284226,3,---,---,---,---,---,---,---,...,---,32.55678713321686 35.82570791244507 564.0 12.13,---,---,---,NaN,---,---,---,30
14,14,uuid:e6213ceb-f1cc-4892-a46c-e7b9bebbd950,3,---,---,---,---,---,---,---,...,2,32.56367977 35.82685793 517.0 12.13,---,---,---,---,---,NaN,---,30
15,15,uuid:2f295e2b-5f35-4386-9f82-a49588c1bb3a,3,---,---,---,---,---,---,---,...,2,32.55641623 35.8486622 593.0 4.55,---,---,---,---,---,7,24,30
16,16,uuid:ed10d606-52fd-4212-ad35-953f1f758ebb,3,---,---,---,---,---,---,---,...,2,32.5490471 35.8541255 0.0 86.65,---,---,---,---,---,7,5,60
17,17,uuid:f3e4e226-5962-48d6-be26-39ae8073a085,3,---,---,---,---,---,---,---,...,2,32.5450675 35.8736439 0.0 27.42,---,---,---,---,---,NaN,0,30
18,18,uuid:a2bab9ed-2420-47dc-ad7a-6ca1d567b976,3,---,---,---,---,---,---,---,...,2,32.55807432 35.84583706 598.0 13.65,---,---,---,---,---,2,12,30
19,19,uuid:29c1c223-efa2-43e5-b4f8-20d30b3b6bc2,3,---,---,---,---,---,---,---,...,2,32.53706885 35.8492259 626.0 21.23,---,---,---,---,---,7,3,30
20,20,uuid:fd5514ef-26b9-4cfa-b1aa-a4637ea9fdb5,3,---,---,---,---,---,---,1983-06-23,...,2,32.53581927 35.84986593 630.0 16.68,---,---,---,---,0,---,5,10
21,21,uuid:747f2451-483f-466c-b484-b04f771dd3d4,3,---,---,---,---,---,---,1993-09-28,...,2,32.5246152 35.8530907 0.0 21.88,---,---,---,---,0,---,3,50
22,22,uuid:02ddf712-b7ff-45c9-a6c3-bf631217127c,3,---,---,---,---,---,---,---,...,2,32.52653241 35.83704535 682.0 13.65,---,---,---,---,---,4,12,30
23,23,uuid:31c9fe6b-59d6-4ba8-a6e4-206cd3b0651c,3,---,---,---,---,---,---,---,...,2,32.5783018 35.7281962 0.0 20.0,---,---,---,---,---,4,---,60
24,24,uuid:6746b426-ee36-45d5-8c38-e0555a0c5732,3,---,---,---,---,---,---,---,...,2,32.52656936645508 35.83694636821747 679.0 63.71,---,---,---,---,---,7,24,20
25,25,uuid:70ca3575-8537-449c-b64c-ec429c41b80a,3,---,---,---,---,---,---,---,...,2,32.5368351 35.8495418 0.0 22.52,---,---,---,---,---,3,0,20
26,26,uuid:0f71c390-edd4-4228-9a89-dd1feacf31a1,3,---,---,---,---,---,---,1981-07-15,...,2,32.5225589 35.8510447 0.0 20.0,---,---,---,---,0,---,0,60
27,27,uuid:5dbd6caf-5c20-4cfe-b5ce-9546cc892ec3,3,---,---,---,---,---,---,1992-01-09,...,2,32.5225589 35.8510447 0.0 20.9,---,---,---,---,0,---,0,60
28,28,uuid:7dcba8dc-aae3-4900-acd4-0b165cb5ccf9,3,---,---,---,---,---,---,1996-03-21,...,2,32.55065447 35.83952829 606.0 13.65,---,---,---,---,1,NaN,3,30
29,29,uuid:8789c68f-b81c-4589-9cbd-fbd978b3f4b2,3,---,---,---,---,---,---,1958-01-01,...,2,32.53599153 35.84990096 624.0 28.82,---,---,---,---,1,6,24,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031,1031,28f24a9d-0c62-4952-8200-b007d633a6a1,amman,2018-07-24,0,1,12,772715243,female,1994-11-14,...,---,NaN,---,---,---,---,---,---,---,---
1032,1032,00eda3cb-745e-4be6-8813-a4f0d196de9e,irbid,2018-07-16,0,0,6,790373299,male,1975-11-24,...,---,32.5211438 35.8550505 0.0 156.9,0,---,---,---,---,---,---,---
1033,1033,ed9f863e-3854-4325-8dad-f30b797a8f3c,irbid,2018-07-16,0,0,4,780484432,female,1996-07-16,...,---,32.57669058 35.79953975 502.0 95.57,---,---,---,---,---,---,---,---
1034,1034,a9590d48-25d1-42ab-acbb-ff8be3eed786,amman,2018-07-05,0,0,7,790613811,male,1963-01-01,...,---,NaN,0,---,NaN,---,---,---,---,---
1035,1035,565b4e2a-afe0-4fab-b50d-766033958c5d,amman,2018-06-25,0,0,6,789681084,male,1994-09-10,...,---,NaN,NaN,---,---,---,---,---,---,---
1036,1036,f39951c5-fa58-4b7e-88ab-6e4e30c41e79,amman,2018-06-28,0,0,2,798508166,male,1996-03-26,...,---,NaN,NaN,---,---,---,---,---,---,---
1037,1037,deedc3a2-ee41-4df6-a67a-afc9b6d2d102,irbid,2018-07-31,0,0,0,788662247,female,1982-03-13,...,---,32.60695876 35.63021657 -129.0 66.73,---,---,---,---,---,---,---,---
1038,1038,9c8238eb-7df8-4dd6-aa30-4afad43c445e,irbid,2018-08-01,0,0,3,790613079,female,1995-04-27,...,---,NaN,0,---,---,---,---,---,---,---
1039,1039,34b3f7ac-6024-44c0-8d6b-5ac284480b48,irbid,2018-08-02,0,0,1,797007883,male,1968-11-27,...,---,32.5449209 35.8563828 613.59 20.36,---,---,---,---,---,---,---,---
1040,1040,a997a5a9-96a1-4c37-bf82-541063200b80,irbid,2018-08-01,0,0,0,780351633,female,1998-12-30,...,---,32.49559148 35.88073136 628.0 16.68,---,---,---,---,---,---,---,---
1041,1041,bf0ac9f9-bbf6-44ad-8187-9e030436caf8,irbid,2018-08-02,0,0,24,796434753,male,2000-06-07,...,---,32.54553362 35.85638824 618.0 25.78,0,---,---,---,---,---,---,---
1042,1042,4499ed83-3554-458b-bcdc-016c138db1c9,irbid,2018-08-01,0,0,1,789320287,male,1996-01-01,...,---,32.5448219 35.8563308 613.59 20.79,0,---,NaN,---,---,---,---,---
1043,1043,9ad179ec-09f2-4d1f-87b2-539ba3d200d1,irbid,2018-08-02,0,0,1,796459250,female,1996-08-28,...,---,32.544904 35.8563868 613.59 19.67,0,---,---,---,---,---,---,---
1044,1044,cdf2a1c1-7c5b-4220-8f4d-e61f16146568,irbid,2018-08-02,1,0,---,785539201,female,1968-08-01,...,---,NaN,---,---,---,---,---,---,---,---
1045,1045,f7712abd-3e3e-45fe-9dae-d2a4f64c486e,irbid,2018-08-02,0,0,1,796459250,female,1996-08-28,...,---,32.5449198 35.8563999 613.59 19.78,0,---,---,---,---,---,---,---
1046,1046,c2d5e7db-0dc7-45a8-8bb2-cc6cdebd5bd3,irbid,2018-08-02,0,0,3,787883626,female,1992-08-01,...,---,NaN,---,---,---,---,---,---,---,---
1047,1047,ffbe2119-c62b-4b73-bfd3-d9fc981e13c9,irbid,2018-08-01,0,0,1,798808418,male,1968-09-03,...,---,32.544921 35.8563855 613.59 20.3,0,---,---,---,---,---,---,---
1048,1048,9f3bafea-80ed-48fa-bcfb-875acccc4818,irbid,2018-08-01,0,0,3,786604300,male,1992-04-20,...,---,32.5449184 35.8563913 613.59 19.98,0,---,NaN,---,---,---,---,---
1049,1049,675b694e-e54d-4824-9d0a-d1c04da700ac,irbid,2018-08-05,0,0,1,786360226,female,1991-09-02,...,---,32.54409145 35.85721893 455.0 63.71,---,---,---,---,---,---,---,---
1050,1050,a4b26936-64aa-4401-8902-41500138a464,irbid,2018-08-05,0,0,4,790809581,female,1979-06-01,...,---,32.5447633 35.8562911 613.59 19.78,0,---,---,---,---,---,---,---
1051,1051,168d1c62-cf42-4272-afeb-964e539f1e7c,irbid,2018-08-05,0,0,0,790214748,male,1995-08-24,...,---,32.5552883 35.798939 0.0 164.4,---,---,---,---,---,---,---,---
1052,1052,35dd3c36-45c3-47a1-ad62-4c56fa6c45fa,amman,2018-08-05,0,0,NaN,789606934,female,1990-05-10,...,---,31.87397619 36.0056033 876.0 21.23,0,---,---,---,---,---,---,---
1053,1053,420372ec-3af7-435b-a4c3-fa7dd4d00d76,irbid,2018-08-05,1,0,---,798365530,male,1986-01-08,...,---,32.544916 35.8563853 613.59 20.26,0,---,---,---,---,---,---,---
1054,1054,96a48173-5def-4867-bc5f-9fabe4480724,irbid,2018-08-06,0,0,NaN,798947582,female,1980-04-22,...,---,32.4116768 35.900548 0.0 122.4,0,---,---,---,---,---,---,---
1055,1055,1396a684-126c-4b1f-83be-cb69aea3064f,irbid,2018-08-06,0,0,12,796339496,male,1978-09-25,...,---,32.5447612 35.8562802 613.5 19.92,---,---,---,---,---,---,---,---
1056,1056,241ebbde-a65f-492b-8815-64e8d93c424b,irbid,2018-08-07,0,0,6,779344633,male,1975-07-10,...,---,32.5449127 35.8563903 613.59 20.21,---,---,---,---,---,---,---,---
1057,1057,8f4958fa-2fe0-452a-a8af-a6cacb25d8b9,irbid,2018-08-07,0,0,2,791708097,female,1998-10-08,...,---,32.5449282 35.8564029 613.79 20.15,0,---,---,---,---,---,---,---
1058,1058,75567910-5171-469d-a6bc-5b2b235f8f6a,irbid,2018-08-08,0,0,8,772040881,male,1977-05-22,...,---,32.544965 35.8564095 613.79 21.1,---,---,---,---,---,---,---,---
1059,1059,b0de5637-49db-490b-8fca-feaa6b7e81ae,amman,2018-08-08,1,0,---,797951394,male,1997-07-05,...,---,31.880462765693665 36.00216507911682 896.0 15.17,0,---,---,---,---,---,---,---
1060,1060,aae955f3-386c-40c0-aa17-416afb0a76ce,amman,2018-08-07,0,0,2,790758417,female,1966-01-01,...,---,31.8816335 36.0007919 0.0 1299.99,0,---,too_expensive,---,---,---,---,---

### Now we will merge, reformat columns and create a new "clean" data frame

In [4]:
clean = pd.DataFrame()

# Clean Nationality
unclean['form.int.nation'] = unclean['form.int.nation'].replace(['1'],
                                                                'jordanian')
unclean['form.int.nation'] = unclean['form.int.nation'].replace(['2'],
                                                                'syrian')
unclean['form.int.nation'] = unclean['form.int.nation'].replace(['---'], '')

unclean['form.int.nationality'] = unclean['form.int.nationality'].replace(
    ['---'], '')
unclean['nationalty'] = unclean['form.int.nationality'].map(
    str) + unclean['form.int.nation']
clean['nationality'] = unclean['nationalty'].replace([''], 'unknown')

# Clean Gender
unclean['form.dem.male'] = unclean['form.dem.male'].replace(['0'], 'female')
unclean['form.dem.male'] = unclean['form.dem.male'].replace(['1'], 'male')
unclean['form.dem.male'] = unclean['form.dem.male'].replace(['---'], '')
unclean['form.dem.gender'] = unclean['form.dem.gender'].replace(['---'], '')
clean[
    'gender'] = unclean['form.dem.gender'].map(str) + unclean['form.dem.male']

# Clean Education Level
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['1'], 'none')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['2'], 'primary')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['3'], 'secondary')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['4'], 'college')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['5'], 'diploma')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['6'], 'bachelors')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['7'], 'masters')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['7'], 'doctorate')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['---'], '')
unclean['form.ed.highest_edu_level'] = unclean[
    'form.ed.highest_edu_level'].replace(['---'], '')
unclean['edu'] = unclean['form.ed.edu1'].map(
    str) + unclean['form.ed.highest_edu_level']
clean['education'] = unclean['edu'].replace([''], 'unknown')

# Clean Age
unclean['form.dem.age'] = unclean['form.dem.age'].replace(['---'], '')
unclean['form.dem.age_calc'] = unclean['form.dem.age_calc'].replace(['---'],
                                                                    '')
unclean['dob_age'] = np_age(unclean['form.dem.dob'])

unclean['age_concat'] = np_age_concat(unclean['form.dem.age'],
                                      unclean['form.dem.age_calc'])
clean['age'] = np_age_concat(unclean['age_concat'], unclean['dob_age'])

# Clean Night Shfit
unclean['form.jp.night'] = unclean['form.jp.night'].replace(['---'], '')
unclean['form.jp.will_work_night_shift'] = unclean[
    'form.jp.will_work_night_shift'].replace(['---'], '')
clean['night-shift'] = np_concat(unclean['form.jp.night'],
                                 unclean['form.jp.will_work_night_shift'])

# Job
unclean['form.int.has_job'] = unclean['form.int.has_job'].replace(['---'], '')
unclean['form.int.job'] = unclean['form.int.job'].replace(['---'], '')
clean['has_job'] = np_concat(unclean['form.int.has_job'], unclean['form.int.job'])

unclean['form.int.has_other_income'] = unclean[
    'form.int.has_other_income'].replace(['---'], '')
unclean['form.int.entrep'] = unclean['form.int.entrep'].replace(['---'], '')
clean['has_other_income'] = np_concat(unclean['form.int.has_other_income'], unclean['form.int.entrep'])

unclean['form.cd.mobile_num'] = unclean['form.cd.mobile_num'].replace(['---'],'')
unclean['form.cd.mob'] = unclean['form.cd.mob'].replace(['---'], '')
clean['mobile_number'] = np_concat(unclean['form.cd.mobile_num'], unclean['form.cd.mob'])

unclean['form.dem.marital_status'] = unclean[
    'form.dem.marital_status'].replace(['---'], '')
unclean['form.dem.marr'] = unclean['form.dem.marr'].replace(['---'], '')

unclean['form.dem.marr'] = unclean['form.dem.marr'].replace(['1'], 'married')
unclean['form.dem.marr'] = unclean['form.dem.marr'].replace(['2'], 'single')
unclean['form.dem.marr'] = unclean['form.dem.marr'].replace(['3'], 'divoriced')
unclean['form.dem.marr'] = unclean['form.dem.marr'].replace(['4'], 'widowed')
clean['marital_status'] = np_concat(unclean['form.dem.marital_status'], unclean['form.dem.marr'])

unclean['form.dem.num_children'] = unclean['form.dem.num_children'].replace(
    ['---'], '')
unclean['form.dem.child'] = unclean['form.dem.child'].replace(['---'], '')
clean['num_children'] = np_concat(unclean['form.dem.num_children'], unclean['form.dem.child'])

unclean['form.tn.num_training_courses'] = unclean[
    'form.tn.num_training_courses'].replace(['---'], '')
unclean['form.tn.tn3'] = unclean['form.tn.tn3'].replace(['---'], '')
clean['num_training_courses'] = np_concat(unclean['form.tn.num_training_courses'],
                                          unclean['form.tn.tn3'])

unclean['form.jp.will_live_in_dorm'] = unclean[
    'form.jp.will_live_in_dorm'].replace(['---'], '')
unclean['form.jp.dorm'] = unclean['form.jp.dorm'].replace(['---'], '')
clean['will_live_in_dorm'] = np_concat(unclean['form.jp.will_live_in_dorm'],
                                       unclean['form.jp.dorm'])

unclean['form.jp.weekly_days_willing_to_work'] = unclean[
    'form.jp.weekly_days_willing_to_work'].replace(['---'], '')
unclean['form.jp.days'] = unclean['form.jp.days'].replace(['---'], '')
clean['weekly_days_willing_to_work'] = np_concat(unclean['form.jp.weekly_days_willing_to_work'],
                                                 unclean['form.jp.days'])

unclean['form.jp.daily_hours_willing_to_work'] = unclean[
    'form.jp.daily_hours_willing_to_work'].replace(['---'], '')
unclean['form.jp.hours'] = unclean['form.jp.hours'].replace(['---'], '')
clean['daily_hours_willing_to_work'] = np_concat(unclean['form.jp.daily_hours_willing_to_work'],
                                                 unclean['form.jp.hours'])

unclean['form.cj.workspace_preference_calc'] = unclean[
    'form.cj.workspace_preference_calc'].replace(['---'], '')
unclean['form.cj.cjsect'] = unclean['form.cj.cjsect'].replace(['---'], '')

unclean['form.cj.cjsect'] = unclean['form.cj.cjsect'].replace(['1'], 'office')
unclean['form.cj.cjsect'] = unclean['form.cj.cjsect'].replace(['2'], 'home')
unclean['form.cj.cjsect'] = unclean['form.cj.cjsect'].replace(['3'], 'souk')
unclean['form.cj.cjsect'] = unclean['form.cj.cjsect'].replace(['4'], 'farm')
unclean['form.cj.cjsect'] = unclean['form.cj.cjsect'].replace(['5'], 'factory')
unclean['form.cj.cjsect'] = unclean['form.cj.cjsect'].replace(['6'], 'mine')
unclean['form.cj.cjsect'] = unclean['form.cj.cjsect'].replace(['7'], 'construction_site')
unclean['form.cj.cjsect'] = unclean['form.cj.cjsect'].replace(['8'], 'garage')
unclean['form.cj.cjsect'] = unclean['form.cj.cjsect'].replace(['9'], 'transport')
unclean['form.cj.cjsect'] = unclean['form.cj.cjsect'].replace(['10'], 'religious_building')
unclean['form.cj.cjsect'] = unclean['form.cj.cjsect'].replace(['11'], 'hospital')
unclean['form.cj.cjsect'] = unclean['form.cj.cjsect'].replace(['12'], 'school')
unclean['form.cj.cjsect'] = unclean['form.cj.cjsect'].replace(['13'], 'hotel')
unclean['form.cj.cjsect'] = unclean['form.cj.cjsect'].replace(['14'], 'restaraunt')

clean['preferred_workspace'] = np_concat(unclean['form.cj.workspace_preference_calc'],
                                      unclean['form.cj.cjsect'])

unclean['form.we.years_exp'] = unclean['form.we.years_exp'].replace(['---'],
                                                                    '')
unclean['form.we.yexp'] = unclean['form.we.yexp'].replace(['---'], '')
clean['years_experience'] = np_concat(unclean['form.we.years_exp'], unclean['form.we.yexp'])

unclean['form.ex.comments'] = unclean['form.ex.comments'].replace(['---'], '')
unclean['form.com2'] = unclean['form.com2'].replace(['---'], '')
clean['comments'] = unclean['form.ex.comments']
clean['eso_comments'] = unclean['form.com2']

unclean['form.ed.comp'] = unclean['form.ed.comp'].replace(['---'], '')

unclean['form.ed.comp'] = unclean['form.ed.comp'].replace(['0'], 'none')
unclean['form.ed.comp'] = unclean['form.ed.comp'].replace(['1'], 'basic')
unclean['form.ed.comp'] = unclean['form.ed.comp'].replace(['2'], 'word_processing')
unclean['form.ed.comp'] = unclean['form.ed.comp'].replace(['3'], 'specialized')
unclean['form.ed.comp'] = unclean['form.ed.comp'].replace(['4'], 'programmer')

unclean['form.ed.computer_exprience'] = unclean[
    'form.ed.computer_exprience'].replace(['---'], '')
clean['computer_experience'] = np_concat(unclean['form.ed.comp'], 
                                           unclean['form.ed.computer_exprience'])

unclean['form.ed.eng'] = unclean['form.ed.eng'].replace(['---'], '')

unclean['form.ed.eng'] = unclean['form.ed.eng'].replace(['0'], 'not_literate')
unclean['form.ed.eng'] = unclean['form.ed.eng'].replace(['1'], 'few_phrases')
unclean['form.ed.eng'] = unclean['form.ed.eng'].replace(['2'], 'simple_phrases')
unclean['form.ed.eng'] = unclean['form.ed.eng'].replace(['3'], 'extended_conversation')
unclean['form.ed.eng'] = unclean['form.ed.eng'].replace(['4'], 'literate')

unclean['form.ed.english_proficiency'] = unclean[
    'form.ed.english_proficiency'].replace(['---'], '')
clean['english_proficiency'] = np_concat(unclean['form.ed.eng'],
                                         unclean['form.ed.english_proficiency'])

unclean['form.jp.opposite_gender_manager'] = unclean[
    'form.jp.opposite_gender_manager'].replace(['---'], '')
unclean['form.jp.oppgen'] = unclean['form.jp.oppgen'].replace(['---'], '')

unclean['form.jp.oppgen'] = unclean['form.jp.oppgen'].replace(['0'], 'will_refuse')
unclean['form.jp.oppgen'] = unclean['form.jp.oppgen'].replace(['1'], 'no_issue')

clean['opposite_gender_manager'] = np_concat(unclean['form.jp.opposite_gender_manager'],
                                             unclean['form.jp.oppgen'])

unclean['form.jp.opposite_gender_coworkers'] = unclean[
    'form.jp.opposite_gender_coworkers'].replace(['---'], '')
unclean['form.jp.oppgen1'] = unclean['form.jp.oppgen1'].replace(['---'], '')
unclean['form.jp.oppgen1'] = unclean['form.jp.oppgen1'].replace(['0'], 'will_refuse')
unclean['form.jp.oppgen1'] = unclean['form.jp.oppgen1'].replace(['1'], 'no_issue')
clean['opposite_gender_coworkers'] = np_concat(unclean['form.jp.opposite_gender_coworkers'],
                                             unclean['form.jp.oppgen1'])

unclean['form.rw.expected_wage'] = unclean['form.rw.expected_wage'].replace(
    ['---'], '')
unclean['form.rw.rwage'] = unclean['form.rw.rwage'].replace(['---'], '')
clean['expected_wage'] = np_concat(unclean['form.rw.expected_wage'], unclean['form.rw.rwage'])


# Job Preference

unclean['form.jp.jp2'] = unclean['form.jp.jp2'].replace(['---'], '')
unclean['form.jp.first_preference'] = unclean['form.jp.first_preference'].replace(['---'], '')
unclean['form.jp.jp2'] = update_profession(unclean['form.jp.jp2'])

clean['first_job_sector_preference'] = np_concat(unclean['form.jp.first_preference'], 
                                                 unclean['form.jp.jp2'])

# Second Preference

unclean['form.jp.jp3'] = unclean['form.jp.jp3'].replace(['---'], '')
unclean['form.jp.second_preference'] = unclean['form.jp.second_preference'].replace(['---'], '')

unclean['form.jp.jp3'] = update_profession(unclean['form.jp.jp3'])

clean['second_job_sector_preference'] = np_concat(unclean['form.jp.second_preference'], 
                                                  unclean['form.jp.jp3'])

unclean['form.ed.major'] = unclean['form.ed.major'].replace(['1'], 'engineering')
unclean['form.ed.major'] = unclean['form.ed.major'].replace(['2'], 'business_econ')
unclean['form.ed.major'] = unclean['form.ed.major'].replace(['3'], 'natural_science')
unclean['form.ed.major'] = unclean['form.ed.major'].replace(['4'], 'social_science')
unclean['form.ed.major'] = unclean['form.ed.major'].replace(['5'], 'medical')
unclean['form.ed.major'] = unclean['form.ed.major'].replace(['6'], 'agriculture')
unclean['form.ed.major'] = unclean['form.ed.major'].replace(['7'], 'education')
unclean['form.ed.major'] = unclean['form.ed.major'].replace(['8'], 'automotive')
unclean['form.ed.major'] = unclean['form.ed.major'].replace(['9'], 'electrical')
unclean['form.ed.major'] = unclean['form.ed.major'].replace(['10'], 'construction')
unclean['form.ed.major'] = unclean['form.ed.major'].replace(['11'], 'it')
unclean['form.ed.major'] = unclean['form.ed.major'].replace(['12'], 'manufacturing')
unclean['form.ed.major'] = unclean['form.ed.major'].replace(['13'], 'architecture')
unclean['form.ed.major'] = unclean['form.ed.major'].replace(['14'], 'carpentry')
unclean['form.ed.major'] = unclean['form.ed.major'].replace(['15'], 'textile')

unclean['form.we.jdesc'] = update_profession(unclean['form.we.jdesc'])
unclean['form.we.jdesc'] = unclean['form.we.jdesc'].replace(['---'], '')
unclean['form.we.job_description'] = unclean['form.we.job_description'].replace(['---'], '')
clean['best_job_field'] = np_concat(unclean['form.we.jdesc'], unclean['form.we.job_description'])

unclean['form.we.jname'] = unclean['form.we.jname'].replace(['---'], '')
unclean['form.we.job_name'] = unclean['form.we.job_name'].replace(['---'], '')
clean['best_job_name'] = np_concat(unclean['form.we.jname'], unclean['form.we.job_name'])

unclean['form.cd.mob1'] = unclean['form.cd.mob1'].replace(['---'], '')
unclean['form.cd.sec_contact_mobile'] = unclean['form.cd.sec_contact_mobile'].replace(['---'], '')
clean['secondary_contact_mobile'] = np_concat(unclean['form.cd.mob1'], unclean['form.cd.sec_contact_mobile'])

unclean['form.id.eso_id'] = unclean['form.id.eso_id'].replace(['---'], '')
unclean['form.id.eid'] = unclean['form.id.eid'].replace(['---'], '')
clean['eso_id'] = np_concat(unclean['form.id.eid'], unclean['form.id.eso_id'])

unclean['form.id.date'] = unclean['form.id.date'].replace(['---'], '')
unclean['form.id.interview_date'] = unclean['form.id.interview_date'].replace(['---'], '')
clean['interview_date'] = np_concat(unclean['form.id.interview_date'], unclean['form.id.date'])

unclean['form.int.unemp'] = unclean['form.int.unemp'].replace(['---'], '')
unclean['form.int.months_unemployed'] = unclean['form.int.months_unemployed'].replace(['---'], '')

# measured in minutes
unclean['form.jp.dist'] = unclean['form.jp.dist'].replace(['---'], '')
unclean['form.jp.distance_willing_to_travel'] = unclean['form.jp.distance_willing_to_travel'].replace(['---'], '')

clean

,nationality,gender,education,age,night-shift,has_job,has_other_income,mobile_number,marital_status,num_children,...,opposite_gender_manager,opposite_gender_coworkers,expected_wage,first_job_sector_preference,second_job_sector_preference,best_job_field,best_job_name,secondary_contact_mobile,eso_id,interview_date
0,syrian,female,secondary,48.0,0,0,0,795216977,married,0,...,no_issue,no_issue,220,food,,,,790526977,1,2018-04-19
1,syrian,male,secondary,0.0,1,0,0,795538618,married,0,...,no_issue,no_issue,350,janitor,food,janitor,شركة حسني جربوع للمقاولات,798811732,1,2018-04-19
2,syrian,male,primary,44.0,1,0,0,790332061,married,7,...,no_issue,no_issue,300,sales,agriculture,,,779660713,4,2018-04-23
3,syrian,female,secondary,28.0,0,0,0,775998904,married,3,...,will_refuse,will_refuse,200,production,food,,,796596354,1,2018-04-23
4,syrian,female,diploma,40.0,0,0,0,795457213,married,6,...,no_issue,will_refuse,300,teaching,salon,,,795954919,4,2018-04-24
5,syrian,female,primary,0.0,0,0,0,796684778,married,3,...,no_issue,no_issue,300,production,food,,,790236758,1,2018-04-24
6,syrian,female,none,53.0,0,0,0,790695877,married,nan,...,nan,will_refuse,300,food,agriculture,,,799589229,9,2018-04-24
7,syrian,female,secondary,20.0,0,0,0,798972432,single,0,...,no_issue,no_issue,250,salon,teaching,,,795761798,2,2018-04-24
8,syrian,female,secondary,19.0,0,0,0,781826033,single,0,...,no_issue,will_refuse,250,law,salon,,,795457213,4,2018-04-24
9,syrian,female,bachelors,25.0,0,0,0,798385382,single,0,...,no_issue,no_issue,350,social_service,teaching,social_service,الانترسوس,797934883,2,2018-04-25
10,syrian,male,secondary,45.0,1,0,0,798538794,married,6,...,no_issue,no_issue,280,salon,food,engineering,محلات النجار الموقر,790964653,1,2018-04-25
11,syrian,female,secondary,18.0,0,0,0,798813465,single,0,...,no_issue,no_issue,220,teaching,food,,,796841023,1,2018-04-25
12,syrian,female,secondary,44.0,0,0,0,790311201,married,2,...,no_issue,no_issue,300,food,salon,,,795575327,9,2018-04-26
13,unknown,male,primary,0.0,0,,,785546116,married,0,...,no_issue,no_issue,35,production,janitor,production,nan,790240705,1,2018-04-18
14,syrian,male,primary,0.0,1,1,1,799719683,married,nan,...,no_issue,no_issue,300,janitor,production,production,براد خاص,795199523,6,2018-04-18
15,syrian,female,primary,27.0,1,0,0,797370850,married,3,...,no_issue,no_issue,200,production,janitor,,,795164895,1,2018-04-26
16,syrian,female,secondary,43.0,0,0,0,797051635,married,3,...,no_issue,no_issue,300,food,salon,social_service,UNDP,796798225,2,2018-04-26
17,syrian,female,primary,38.0,0,0,0,790186182,married,4,...,no_issue,no_issue,300,salon,food,,,798277143,9,2018-05-02
18,syrian,female,secondary,42.0,1,0,0,797589744,married,5,...,no_issue,no_issue,280,production,food,janitor,المنظمه الايطاليه,791591253,1,2018-04-30
19,syrian,male,primary,33.0,1,0,0,798277143,married,4,...,no_issue,no_issue,350,janitor,agriculture,,,790186182,4,2018-05-03
20,syrian,female,secondary,34.0,0,0,0,797924032,married,3,...,no_issue,no_issue,300,healthcare_tech,management,,,796924901,4,2018-05-07
21,syrian,male,bachelors,24.0,1,0,0,789570559,single,0,...,no_issue,no_issue,250,business,social_service,food,مخابز للقناطر,792819113,9,2018-05-08
22,syrian,female,secondary,45.0,0,0,0,798492528,single,0,...,no_issue,no_issue,200,production,healthcare_support,,,798128695,3,2018-05-02
23,syrian,male,secondary,27.0,1,1,0,790269676,married,2,...,no_issue,no_issue,400,healthcare_support,management,social_service,الفرنسيه جمعيه روابي الكوره,792703813,2,2018-04-30
24,syrian,female,diploma,44.0,0,0,0,795977116,married,5,...,no_issue,no_issue,250,production,management,,,797472018,1,2018-05-02
25,syrian,male,primary,41.0,1,0,0,798130402,married,nan,...,no_issue,no_issue,300,janitor,repair,repair,المنظمة الالمانيه,790916486,9,2018-05-03
26,syrian,female,diploma,36.0,0,0,0,798556995,married,2,...,no_issue,no_issue,400,business,admin,social_service,بلديه درعا الكبرى,798404579,2,2018-05-09
27,syrian,female,primary,26.0,0,0,0,799280897,married,4,...,no_issue,will_refuse,400,food,salon,,,790280347,9,2018-05-09
28,syrian,male,secondary,22.0,1,0,0,796551248,single,0,...,no_issue,no_issue,400,food,agriculture,,,797642791,4,2018-05-09
29,syrian,male,bachelors,59.0,1,0,0,786301914,married,4,...,no_issue,no_issue,300,management,admin,engineering,المقاول فايز البزازي,797513481,1,2018-05-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031,jordanian,female,secondary,23.0,0,0,1,772715243,single,0,...,no_issue,no_issue,250,production,sewing,healthcare_support,العبوات الطبية,775639189,11,2018-07-24
1032,syrian,male,primary,42.0,1,0,0,790373299,married,3,...,no_issue,no_issue,200,repair,driving,janitor,منظمة كاريتاس,796378557,6,2018-07-16
1033,jordanian,female,secondary,22.0,1,0,0,780484432,married,1,...,no_issue,no_issue,300,salon,social_service,,,790959407,4,2018-07-16
1034,syrian,male,primary,55.0,0,0,0,790613811,married,2,...,no_issue,no_issue,300,production,janitor,nan,nan,789646679,10,2018-07-05
1035,jordanian,male,secondary,23.0,0,0,0,789681084,single,nan,...,no_issue,no_issue,350,management,sales,management,ملحمة و مطاعم بيت الاصالة,777661616,10,2018-06-25
1036,jordanian,male,secondary,21.0,1,0,0,798508166,single,nan,...,no_issue,no_issue,300,production,sales,sales,كارفور ماركت,799057708,10,2018-06-28
1037,jordanian,female,secondary,36.0,0,0,0,788662247,married,4,...,no_issue,no_issue,220,production,food,,,780607258,1,2018-07-31
1038,syrian,female,diploma,23.0,0,0,0,790613079,married,0,...,no_issue,no_issue,250,healthcare_tech,admin,healthcare_tech,صيدلية عناب,790235227,9,2018-08-01
1039,jordanian,male,secondary,49.0,0,0,0,797007883,married,5,...,no_issue,no_issue,300,driving,sales,engineering,الاسبانية,796887365,7,2018-08-02
1040,jordanian,female,secondary,19.0,0,0,0,780351633,single,0,...,will_refuse,no_issue,220,production,social_service,,,780727525,1,2018-08-01
1041,syrian,male,primary,18.0,0,0,0,796434753,single,0,...,no_issue,no_issue,220,food,production,food,حلويات نيرسيان,796179885,1,2018-08-02
1042,syrian,male,bachelors,22.0,1,0,0,789320287,single,nan,...,no_issue,no_issue,250,admin,computer,,,796717655,12,2018-08-01
1043,syrian,female,bachelors,21.0,0,0,0,796459250,single,0,...,no_issue,no_issue,220,admin,social_service,,,nan,7,2018-08-02
1044,jordanian,female,secondary,50.0,0,1,0,785539201,married,3,...,no_issue,no_issue,300,janitor,food,janitor,مركز ديرما برو,nan,9,2018-08-02
1045,syrian,female,bachelors,21.0,0,0,0,796459250,single,0,...,no_issue,no_issue,220,social_service,admin,,,798308552,7,2018-08-02
1046,jordanian,female,secondary,26.0,0,0,0,787883626,single,0,...,no_issue,no_issue,300,production,admin,production,مصنع العرين,785603467,2,2018-08-02
1047,syrian,male,primary,49.0,0,0,0,798808418,married,5,...,no_issue,no_issue,300,production,protective_science,food,مطعم الباشا,782009728,2,2018-08-01
1048,syrian,male,bachelors,26.0,1,0,0,786604300,single,0,...,no_issue,no_issue,220,production,janitor,protective_service,كراج سيارات,797310827,7,2018-08-01
1049,jordanian,female,secondary,27.0,1,0,0,786360226,single,0,...,no_issue,no_issue,220,production,sewing,sewing,المسيره,785435240,4,2018-08-05
1050,syrian,female,other,39.0,0,0,0,790809581,divorced,5,...,no_issue,no_issue,220,production,food,production,مشغل ابو النور,792830413,1,2018-08-05
1051,jordanian,male,diploma,22.0,1,0,0,790214748,single,0,...,no_issue,no_issue,300,production,driving,,,796131375,2,2018-08-05
1052,syrian,female,secondary,28.0,0,0,0,789606934,married,42,...,no_issue,will_refuse,300,production,admin,,,781518574,15,2018-08-05
1053,syrian,male,college,32.0,1,1,0,798365530,married,3,...,no_issue,no_issue,250,production,healthcare_support,healthcare_tech,مستشفى الشفاء,790094279,6,2018-08-05
1054,syrian,female,secondary,38.0,0,0,0,798947582,married,4,...,no_issue,no_issue,250,teaching,food,education,مدرسة,799725896,9,2018-08-06
1055,jordanian,male,none,39.0,1,0,0,796339496,married,4,...,no_issue,no_issue,250,production,protective_science,janitor,المنظمه الفرنسيه,798415964,2,2018-08-06
1056,jordanian,male,secondary,43.0,1,0,0,779344633,married,2,...,no_issue,no_issue,220,food,production,nan,محطات توليد,779410191,9,2018-08-07
1057,syrian,female,secondary,19.0,0,0,0,791708097,single,0,...,no_issue,no_issue,220,salon,admin,,,799294613,7,2018-08-07
1058,jordanian,male,secondary,41.0,1,0,0,772040881,married,3,...,no_issue,no_issue,250,production,driving,military_police,الجيش والقوات المسلحة,nan,7,2018-08-08
1059,syrian,male,college,21.0,0,1,0,797951394,single,0,...,no_issue,no_issue,400,sales,admin,sales,شركة سيراميك,799126154,11,2018-08-08
1060,syrian,female,secondary,52.0,0,0,0,790758417,widowed,0,...,no_issue,no_issue,230,sewing,food,,,791451605,15,2018-08-07

### Lastly, lets save our cleaned data out as a csv

In [5]:
clean.to_csv('../match-data/kpis/cleaned_kpis.csv')