# Clean Up our Intake Data

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [2]:
# Utility for displaying our DataFrames
from IPython.display import display_html
def display_side_by_side(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)

In [3]:
from datetime import date, datetime

def calculate_age(born):
    today = date.today()
    if born in ['---', '']:
        return ''
    born = datetime.strptime(born, '%Y-%m-%d')
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

np_age = np.vectorize(calculate_age)

In [4]:
def concat(col1, col2, debug=False):
    prohibited = ['', '---', 'nan']
    if col1 not in prohibited:
        return col1
    elif col2 not in prohibited:
        return col2
    else:
        return ''

np_concat = np.vectorize(concat)

In [5]:
def age_concat(col1, col2):
    prohibited = ['', '---', 'nan']
    col1 = 0 if col1 in prohibited else float(col1)
    col2 = 0 if col2 in prohibited else float(col2)
    col1 = 0 if np.isnan(col1) else col1
    col2 = 0 if np.isnan(col2) else col2
    return col1 if col1 != 0 else col2

np_age_concat = np.vectorize(age_concat)

In [6]:
def lat(col):
    try:
        return float(col.split(' ')[0])
    except:
        return 0
get_lat = np.vectorize(lat)

def lng(col):
    try:
        return float(col.split(' ')[1])
    except:
        return 0
get_lng = np.vectorize(lng)

### First let us read in our unclean export data

In [7]:
unclean = pd.read_csv('../match-data/mne/export.csv')
unclean.replace(['---'], '')

,number,formid,form.id.city,form.id.interview_date,form.int.has_job,form.int.has_other_income,form.int.months_unemployed,form.cd.first_name,form.cd.last_name,form.cd.mobile_num,...,form.jp.oppgen1,form.rw.rwage,form.ed.highest_edu_level,form.int.nation,form.id.gps,form.jp.will_work_qiz,form.jp.will_train_unpaid,form.jp.days_willing_train_unpaid,completed_time,received_on
0,0,uuid:232d8d82-0c11-4aa2-8a76-b4a244f60ca6,3,,,,,,,,...,1,220,,2,32.56341362 35.82743754 527.0 13.65,,,,2018-04-19 08:38:55,2018-04-19 11:04:28
1,1,uuid:032b493f-e90e-42d8-ba55-66da02b70ec4,3,,,,,,,,...,1,350,,2,32.56381511 35.82414651 538.0 106.18,,,,2018-04-19 09:43:50,2018-04-19 11:01:51
2,2,uuid:04b3cb22-7f12-4d7b-ad89-25f65b0dcdbe,3,,,,,,,,...,1,300,,2,32.57277106 35.80145862 587.0 25.78,,,,2018-04-23 10:25:48,2018-04-23 10:25:57
3,3,uuid:326c85f5-ed1d-40fa-a370-17b43c2b0ea9,3,,,,,,,,...,0,200,,2,32.57245561 35.80178963 512.0 13.65,,,,2018-04-23 08:43:45,2018-04-23 11:16:22
4,4,uuid:bdc35371-ba9d-4d1d-a678-3a1744c32297,3,,,,,,,,...,0,300,,2,32.53877962 35.84859773 637.0 16.68,,,,2018-04-24 07:58:51,2018-04-24 07:58:56
5,5,uuid:74f432df-c4b6-4af3-94c2-48cdb0a68fa4,3,,,,,,,,...,1,300,,2,32.55391673 35.80441486 569.0 25.78,,,,2018-04-24 10:16:34,2018-04-24 11:09:36
6,6,uuid:644eb4c7-b08b-4511-ab94-f3a949fb3e2a,3,,,,,,,,...,0,300,,2,NaN,,,,2018-04-24 10:15:03,2018-04-24 11:06:39
7,7,uuid:129638e4-bce9-41b7-a933-779a595fc428,3,,,,,,,,...,1,250,,2,32.5053713 35.8638544 0.0 20.0,,,,2018-04-24 09:50:11,2018-04-24 09:50:19
8,8,uuid:c185457a-a199-4784-93db-d501d7282229,3,,,,,,,,...,0,250,,2,32.53869682 35.84859372 627.0 4.55,,,,2018-04-24 09:16:05,2018-04-24 09:16:04
9,9,uuid:d4f974d1-a152-413f-ba0f-d90817fd1429,3,,,,,,,,...,1,350,,2,32.5065657 35.8884198 0.0 20.0,,,,2018-04-25 10:48:30,2018-04-25 10:47:57
10,10,uuid:7bdfd9da-69bc-40dc-b636-af5d06f748d7,3,,,,,,,,...,1,280,,2,32.54181986 35.84972841 637.0 12.13,,,,2018-04-25 08:32:35,2018-04-26 07:24:37
11,11,uuid:5b8d79a8-1603-499d-b418-5a2373057473,3,,,,,,,,...,1,220,,2,32.53754535 35.84853229 624.0 18.2,,,,2018-04-25 09:58:33,2018-04-26 07:24:41
12,12,uuid:1895eaee-466d-4f91-8fdf-886572ae8c56,3,,,,,,,,...,1,300,,2,32.5511176 35.8545241 0.0 20.0,,,,2018-04-26 11:12:09,2018-04-26 11:54:22
13,13,uuid:3a607417-03ed-476e-b79e-b45bc2284226,3,,,,,,,,...,1,35,,,32.55678713321686 35.82570791244507 564.0 12.13,,,,2018-04-18 10:32:33,2018-04-19 06:24:29
14,14,uuid:e6213ceb-f1cc-4892-a46c-e7b9bebbd950,3,,,,,,,,...,1,300,,2,32.56367977 35.82685793 517.0 12.13,,,,2018-04-18 11:47:52,2018-04-19 06:24:31
15,15,uuid:2f295e2b-5f35-4386-9f82-a49588c1bb3a,3,,,,,,,,...,1,200,,2,32.55641623 35.8486622 593.0 4.55,,,,2018-04-26 11:25:53,2018-04-29 06:40:36
16,16,uuid:ed10d606-52fd-4212-ad35-953f1f758ebb,3,,,,,,,,...,1,300,,2,32.5490471 35.8541255 0.0 86.65,,,,2018-04-29 06:45:37,2018-04-29 06:45:02
17,17,uuid:f3e4e226-5962-48d6-be26-39ae8073a085,3,,,,,,,,...,1,300,,2,32.5450675 35.8736439 0.0 27.42,,,,2018-05-02 09:50:41,2018-05-02 10:29:01
18,18,uuid:a2bab9ed-2420-47dc-ad7a-6ca1d567b976,3,,,,,,,,...,1,280,,2,32.55807432 35.84583706 598.0 13.65,,,,2018-04-30 07:53:59,2018-04-30 10:36:21
19,19,uuid:29c1c223-efa2-43e5-b4f8-20d30b3b6bc2,3,,,,,,,,...,1,350,,2,32.53706885 35.8492259 626.0 21.23,,,,2018-05-03 08:44:40,2018-05-03 10:07:11
20,20,uuid:fd5514ef-26b9-4cfa-b1aa-a4637ea9fdb5,3,,,,,,,,...,1,300,,2,32.53581927 35.84986593 630.0 16.68,,,,2018-05-07 08:37:20,2018-05-08 05:42:08
21,21,uuid:747f2451-483f-466c-b484-b04f771dd3d4,3,,,,,,,,...,1,250,,2,32.5246152 35.8530907 0.0 21.88,,,,2018-05-08 08:40:03,2018-05-08 09:47:12
22,22,uuid:02ddf712-b7ff-45c9-a6c3-bf631217127c,3,,,,,,,,...,1,200,,2,32.52653241 35.83704535 682.0 13.65,,,,2018-05-02 09:53:49,2018-05-02 11:26:16
23,23,uuid:31c9fe6b-59d6-4ba8-a6e4-206cd3b0651c,3,,,,,,,,...,1,400,,2,32.5783018 35.7281962 0.0 20.0,,,,2018-05-02 10:37:55,2018-05-02 10:37:17
24,24,uuid:6746b426-ee36-45d5-8c38-e0555a0c5732,3,,,,,,,,...,1,250,,2,32.52656936645508 35.83694636821747 679.0 63.71,,,,2018-05-02 08:41:46,2018-05-02 10:50:52
25,25,uuid:70ca3575-8537-449c-b64c-ec429c41b80a,3,,,,,,,,...,1,300,,2,32.5368351 35.8495418 0.0 22.52,,,,2018-05-03 08:18:23,2018-05-03 09:16:57
26,26,uuid:0f71c390-edd4-4228-9a89-dd1feacf31a1,3,,,,,,,,...,1,400,,2,32.5225589 35.8510447 0.0 20.0,,,,2018-05-09 09:30:04,2018-05-09 11:24:21
27,27,uuid:5dbd6caf-5c20-4cfe-b5ce-9546cc892ec3,3,,,,,,,,...,0,400,,2,32.5225589 35.8510447 0.0 20.9,,,,2018-05-09 09:05:36,2018-05-09 09:05:43
28,28,uuid:7dcba8dc-aae3-4900-acd4-0b165cb5ccf9,3,,,,,,,,...,1,400,,2,32.55065447 35.83952829 606.0 13.65,,,,2018-05-09 09:12:35,2018-05-09 12:37:34
29,29,uuid:8789c68f-b81c-4589-9cbd-fbd978b3f4b2,3,,,,,,,,...,1,300,,2,32.53599153 35.84990096 624.0 28.82,,,,2018-05-10 09:26:40,2018-05-10 10:43:03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,470,acbe72ac-34ed-4041-a03a-7e872945a083,irbid,2018-05-29,0,0,2,قاسم,الاحمد,790700935,...,,,secondary,,32.57418404 35.80021137 487.0 13.65,,,,2018-05-29 09:39:11,2018-05-29 12:02:28
471,471,13d6f879-3e34-41d0-8452-3e72418c0ef8,irbid,2018-05-29,0,0,12,موسى,الاحمد,798644175,...,,,primary,,32.57417297 35.80009516 513.0 12.13,,,,2018-05-29 10:15:36,2018-05-29 12:02:29
472,472,c085d188-c853-4b0a-acb8-0392145918a2,irbid,2018-06-04,0,0,24,نعمه,ابازيد,796498714,...,,,college,,32.53348485 35.8489864 634.0 13.65,,,,2018-06-04 09:55:16,2018-06-04 10:17:41
473,473,6c7c08c9-1e5a-42df-ad18-01a2d92e4256,irbid,2018-06-04,0,0,12,ابتسام,ابازيد,797945287,...,,,primary,,32.5335275 35.84907917 663.0 4.55,,,,2018-06-04 09:26:35,2018-06-04 10:17:33
474,474,6076eed8-93d8-4534-8819-23c30675a337,irbid,2018-06-16,0,0,2,محمود,الشبلي,790662360,...,,,primary,,32.60456496 35.93836839 538.0 63.71,,,,2018-06-10 10:39:33,2018-06-10 11:16:30
475,475,2ebba93e-8c99-41e8-adb3-173c3e2ab41e,irbid,2018-06-10,0,0,0,اكتمال,المصري,790694622,...,,,primary,,32.60759890079498 35.941413044929504 511.0 63.71,,,,2018-06-10 10:00:03,2018-06-10 11:16:29
476,476,b1e167c1-6f01-41c0-b8fd-17e26ab65eb8,irbid,2018-06-11,0,0,4,بهاء مازن,الرواشده,798890919,...,,,masters,,32.5310586 35.8699655 0.0 50.0,,,,2018-06-11 09:40:39,2018-06-11 09:40:42
477,477,cd6eb1df-82dc-4f0c-9fc7-ccdc077a58a7,irbid,2018-06-06,0,0,3,نور الدين,الأحمد,797526587,...,,,secondary,,32.53173372 35.84891088 655.0 13.65,,,,2018-06-06 11:27:19,2018-06-06 11:51:41
478,478,0a3af8a7-5a7c-458b-a22c-76e38f11e366,irbid,2018-06-03,0,0,12,فراس يوسف,الشحادات,790348189,...,,,college,,32.5386182 35.8427053 0.0 20.0,,,,2018-06-03 09:45:09,2018-06-03 09:45:07
479,479,e5bacd7c-5cdd-40dc-b6c9-d018acf0e707,amman,2018-06-20,0,0,60,امينة صبري,مراد,785331117,...,,,primary,,31.972712 35.9240485 0.0 116.1,,,,2018-06-20 10:59:14,2018-06-20 10:59:15
480,480,b2d5ee18-4d34-492a-86a3-3fa02e534e88,irbid,2018-06-20,0,0,12,رندا,سلامات,798435866,...,,,primary,,32.534134 35.84845691 654.0 13.65,,,,2018-06-20 09:13:40,2018-06-21 10:07:56
481,481,8b3940db-93a7-4440-9d91-b97d37776c80,irbid,2018-06-21,0,0,23,نعيمه,السخني,772273724,...,,,secondary,,32.5446668 35.8564182 611.79 21.34,,,,2018-06-21 10:40:32,2018-06-21 10:40:30
482,482,61802b6e-e97f-4c72-845b-2ee1c724ef8b,amman,2018-06-21,0,0,4,عطاالله نايف,الختاتنه,786535306,...,,,secondary,,NaN,,,,2018-06-21 11:58:57,2018-06-21 11:59:08
483,483,4b0bfb2c-0cd8-4681-99e2-2d4b3bc41be5,irbid,2018-06-21,1,1,,نهايه احمد فياض,ابو الرب,796427990,...,,,secondary,,32.544896 35.856517 613.2 21.75,,,,2018-06-21 10:46:50,2018-06-21 10:46:50
484,484,0e1f0399-8263-483b-8007-fbb73ffaeec1,irbid,2018-06-26,0,0,5,سهى تركي,الشحادات,798689941,...,,,primary,,32.5448484 35.8565493 613.2 20.51,,,,2018-06-26 09:18:55,2018-06-26 09:18:56
485,485,795ef5dc-8693-4516-b7bf-1fcd241dfff2,irbid,2018-06-25,0,0,55,برديس,سليمان,781343180,...,,,secondary,,32.54518366 35.85647732 626.0 21.23,,,,2018-06-25 05:58:00,2018-06-25 05:58:01
486,486,69577ce7-0fbe-4d36-b340-ec16a942b5af,amman,2018-06-25,0,0,1,كفا,سعد مصطفى العقيلات,777586995,...,,,secondary,,NaN,,,,2018-06-25 06:09:40,2018-06-25 06:11:11
487,487,46bfdf55-8a82-4cf1-ab57-7909e7187bf8,irbid,2018-06-26,0,0,12,رسمية حمدي,حريري,781030770,...,,,secondary,,32.5448344 35.8565208 613.2 20.33,,,,2018-06-26 11:15:30,2018-06-26 11:15:31
488,488,f14e78de-ff13-4f0d-97b1-7146e402929f,irbid,2018-06-25,0,0,0,فاتن زياد,الخطيب,779721718,...,,,secondary,,32.5449468 35.8565069 613.2 23.96,,,,2018-06-25 08:03:19,2018-06-25 08:03:22
489,489,a71e6714-ae5d-498e-964d-aa1d41a71df9,irbid,2018-06-25,1,0,,ميسون محمود,حريري,790373565,...,,,secondary,,32.544878 35.8564948 613.2 21.27,,,,2018-06-25 09:52:06,2018-06-25 09:52:09
490,490,9c4a68a1-c638-4fb1-a5ae-04a1ffe8f333,irbid,2018-06-26,0,0,18,بيان,فيصل هلال,796485161,...,,,bachelors,,NaN,,,,2018-06-26 12:04:18,2018-06-26 12:04:19
491,491,2343786f-d3b3-4582-a015-9dcc16c612f1,irbid,2018-06-28,0,0,7,عبدالله حسين,محمد,777966789,...,,,bachelors,,32.5449003 35.8563959 613.29 20.08,,,,2018-06-28 10:30:52,2018-06-28 10:30:54
492,492,82be661a-2138-4e17-a09a-c99a5236e929,irbid,2018-06-28,0,0,48,الاء ناصر,حمادي,790209170,...,,,diploma,,32.5449057 35.8563932 613.29 19.81,,,,2018-06-28 12:51:01,2018-06-28 12:51:05
493,493,98d24526-a009-4bf2-a8c4-af9dfd4dbb9d,irbid,2018-06-27,0,0,3,سليمه,الخيرات,790863001,...,,,none,,32.5446486 35.8564426 611.79 21.09,,,,2018-06-27 11:49:55,2018-06-27 11:49:55
494,494,33835183-38a5-49bf-8c1a-c0926813673c,amman,2018-06-27,0,0,4,حسن عبد الحليم,قرواني,790230774,...,,,primary,,NaN,,,,2018-06-27 14:04:48,2018-06-27 14:05:06
495,495,0353892b-6c83-4aed-8e90-f0b2574c589f,irbid,2018-06-24,0,0,24,امنه,طه,777281597,...,,,secondary,,32.5448331 35.8565259 613.2 50.0,,,,2018-06-24 07:43:26,2018-06-24 07:43:27
496,496,6ef679b5-a354-4c5d-9857-2cd88b4ea8fa,irbid,2018-06-25,0,0,0,شروق ياسر,كيلاني,779138250,...,,,other,,32.5448482 35.8565264 613.2 20.4,,,,2018-06-25 12:18:09,2018-06-25 12:18:14
497,497,a159afa7-51cc-4060-9264-799e226e67d8,irbid,2018-06-24,0,0,24,سهى عبدالله سليمان,سليمان,786874004,...,,,primary,,32.5474465 36.0076012 0.0 20.0,,,,2018-06-24 09:25:05,2018-06-24 09:25:05
498,498,cd55b10e-e96f-4038-8d46-1375fb4ae1d5,irbid,2018-06-24,0,0,0,رهف محمد,درابسه,797823565,...,,,secondary,,32.5474361 36.0075924 0.0 19.93,,,,2018-06-24 09:29:49,2018-06-24 09:29:55
499,499,2e5f3563-cd95-40f8-aee0-1fcfc444acab,irbid,2018-06-28,0,0,1,عثمان سلطان,الجراح,777084152,...,,,secondary,,32.5449011 35.8563944 613.29 19.84,,,,2018-06-28 06:55:06,2018-06-28 06:55:08

### Now we will merge, reformat columns and create a new "clean" data frame

In [8]:
clean = pd.DataFrame()

# Clean Nationality
unclean['form.int.nation'] = unclean['form.int.nation'].replace(['1'], 'jordanian')
unclean['form.int.nation'] = unclean['form.int.nation'].replace(['2'], 'syrian')
unclean['form.int.nation'] = unclean['form.int.nation'].replace(['---'], '')

unclean['form.int.nationality'] = unclean['form.int.nationality'].replace(['---'], '')
unclean['nationalty'] = unclean['form.int.nationality'].map(str) + unclean['form.int.nation']
clean['nationality'] = unclean['nationalty'].replace([''], 'unknown')

# Clean Gender
unclean['form.dem.male'] = unclean['form.dem.male'].replace(['0'], 'female')
unclean['form.dem.male'] = unclean['form.dem.male'].replace(['1'], 'male')
unclean['form.dem.male'] = unclean['form.dem.male'].replace(['---'], '')
unclean['form.dem.gender'] = unclean['form.dem.gender'].replace(['---'], '')
clean['gender'] = unclean['form.dem.gender'].map(str) + unclean['form.dem.male']

# Clean Education Level
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['1'], 'none')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['2'], 'primary')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['3'], 'secondary')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['4'], 'college')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['5'], 'diploma')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['6'], 'bachelors')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['7'], 'masters')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['7'], 'doctorate')
unclean['form.ed.edu1'] = unclean['form.ed.edu1'].replace(['---'], '')
unclean['form.ed.highest_edu_level'] = unclean['form.ed.highest_edu_level'].replace(['---'], '')
unclean['edu'] = unclean['form.ed.edu1'].map(str) + unclean['form.ed.highest_edu_level']
clean['education'] = unclean['edu'].replace([''], 'unknown')

# clean age
unclean['form.dem.age'] = unclean['form.dem.age'].replace(['---'], '')
unclean['form.dem.age_calc'] = unclean['form.dem.age_calc'].replace(['---'], '')
unclean['dob_age'] = np_age(unclean['form.dem.dob'])


unclean['age_concat'] = np_age_concat(unclean['form.dem.age'], unclean['form.dem.age_calc'])
clean['age'] = np_age_concat(unclean['age_concat'], unclean['dob_age'])

# Clean Night Shfit
unclean['form.jp.night'] = unclean['form.jp.night'].replace(['---'], '')
unclean['form.jp.will_work_night_shift'] = unclean['form.jp.will_work_night_shift'].replace(['---'], '')
clean['night-shift'] = np_concat(unclean['form.jp.night'], unclean['form.jp.will_work_night_shift'])

clean['lat'] = get_lat(unclean['form.id.gps'])
clean['lng'] = get_lng(unclean['form.id.gps'])

unclean['form.cd.first_name'] = unclean['form.cd.first_name'].replace(['---'], '')
unclean['form.cd.fname'] = unclean['form.cd.fname'].replace(['---'], '')
unclean['form.cd.last_name'] = unclean['form.cd.last_name'].replace(['---'], '')
unclean['form.cd.lname'] = unclean['form.cd.lname'].replace(['---'], '')

clean['first-name'] = np_concat(unclean['form.cd.first_name'], unclean['form.cd.fname'])
clean['last-name'] = np_concat(unclean['form.cd.last_name'], unclean['form.cd.lname'])

clean['impairments'] = unclean['form.']

clean

KeyError: 'form.jp.'

#### Just some simple heuristics

In [ ]:
clean_age = clean['age'].replace([np.nan], -1).map(int)
plt.hist(clean_age, bins=range(min(clean_age), max(clean_age)))
plt.plot()

### Lastly, lets save our cleaned data out as a csv

In [ ]:
clean.to_csv('../match-data/clean_all.csv')